



#field{
    transform:rotate(0deg);    /* 中心を基準点に時計回りに回転する */
}





#field td {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    background-color: #c84;
    text-align: center;
    vertical-align: middle;
    table-layout: fixed;
    padding: 1px 1px 1px 1px;
    font-size: 33px;
    writing-mode: horizontal-tb;
    


    }





